@font-face {
  font-family: marioFont;
  src: url("fonts/super-mario-maker.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: 8px;
  scrollbar-color: #6a0400 #ffd987;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffd987;
}

::-webkit-scrollbar-thumb {
  background: #6a0400;
  border-radius: 4px;
}

body {
  margin: 0;
  margin-top: -2.5rem;
  font-family: marioFont;
  background-color: #facd00;
  text-align: center;
}

.bingo-card {
  background-color: #f8dc81;
  margin: auto;
  height: 750px;
  width: 750px;
  display: grid;
  grid-template-rows: repeat(5, 150px);
  grid-template-columns: repeat(5, 150px);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  animation: fade-in 100ms ease-in-out forwards;
}

.free-square {
  grid-row: 3;
  grid-column: 3;
  cursor: default;
}

.bingo-square,
.free-square {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.bingo-square:nth-of-type(1) {
  border-top-left-radius: 12px;
}

.bingo-square:nth-of-type(5) {
  border-top-right-radius: 16px;
}

.bingo-square:nth-of-type(20) {
  border-bottom-left-radius: 16px;
}

.bingo-square:nth-of-type(24) {
  border-bottom-right-radius: 20px;
}

button {
  width: 200px;
  margin: 3rem auto;
  padding: 1rem;
  display: block;
  font-family: inherit;
  background-color: #5c94fc;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

.cross-off::after,
.free-square::after {
  content: "X";
  position: absolute;
  font-size: 8rem;
  color: #e52521;
  opacity: 0.7;
  display: inline-block;
  width: 4rem;
  animation: fade-opaque 100ms ease forwards;
}

@keyframes fade-opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.title {
  position: relative;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}

.title span {
  font-size: 2rem;
  position: relative;
  bottom: -1rem;
  left: -0.5rem;
}

.title h1:first-of-type {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: left;
  position: relative;
  bottom: -3.5rem;
}

.title h1:nth-of-type(2) {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.title h1:nth-of-type(3) {
  margin-top: 0;
  margin-bottom: 0;
  color: #e52521;
  display: inline-block;
  font-size: 10rem;
}

.title h1:nth-of-type(4) {
  font-size: 6rem;
  margin-top: 0;
}

.bingo-modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 100vh;
  width: 100vw; */
  background-color: rgba(0, 0, 0, 0.4);
}

.bingo-modal {
  background-color: #facd00;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 550px;
  padding: 3rem 1rem;
  border-radius: 4px;
  animation: drop-in 300ms ease-out forwards;
}

.bingo-modal h1 {
  font-size: 2.5rem;
}

.bingo-modal button {
  display: inline-block;
  margin: 1rem;
  white-space: nowrap;
}

.got-bingo {
  opacity: 0;
  display: block;
  animation: fade-in 200ms ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop-in {
  0% {
    top: 30%;
  }
  100% {
    top: 50%;
  }
}

@media (max-width: 850px) {
  body {
    margin-top: 0;
  }

  .bingo-card {
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(5, 100px);
  }

  .cross-off::after,
  .free-square::after {
    font-size: 6rem;
    width: 3rem;
  }

  .title span {
    font-size: 1rem;
    bottom: -0.5rem;
    left: -0.25rem;
  }

  .title h1:first-of-type {
    font-size: 2rem;
    bottom: -1.75rem;
  }

  .title h1:nth-of-type(2) {
    font-size: 3rem;
  }

  .title h1:nth-of-type(3) {
    font-size: 5rem;
  }

  .title h1:nth-of-type(4) {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .bingo-card {
    width: 375px;
    height: 375px;
    grid-template-rows: repeat(5, 75px);
    grid-template-columns: repeat(5, 75px);
  }

  .cross-off::after,
  .free-square::after {
    font-size: 4rem;
    width: 2rem;
  }

  .title span {
    font-size: 0.5rem;
    bottom: -0.25rem;
    left: -0.1rem;
  }

  .title h1:first-of-type {
    font-size: 1.5rem;
    bottom: -1.5rem;
  }

  .title h1:nth-of-type(2) {
    font-size: 2rem;
  }

  .title h1:nth-of-type(3) {
    font-size: 4rem;
  }

  .title h1:nth-of-type(4) {
    font-size: 2rem;
  }

  button {
    width: 300px;
    font-size: 1rem;
    margin: 2rem auto;
  }

  .bingo-modal {
    width: 375px;
    height: 300px;
  }

  .copyright {
    margin: 0;
  }
}
